html {
  width: 100%;
}

.header {
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
}

.logo {
  font-size: 32px;
  color: black;
  font-family: 'Dancing Script', cursive;
  margin-left: 80px;
}

.navul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
}

.navli {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  margin-right: 30px;
}
.nav-a {
  color: black;
}

.nav a:hover {
  border-bottom: 2px solid black;
}

.nav a.active {
  border-bottom: 2px solid black;
}